@font-face {
    font-family: 'DIN';
    src: url('../font/DIN_Condensed_Bold.ttf');
}

@font-face {
    font-family: 'Noto Sans';
    src: url('../font/NotoSansCJKkr-Light.otf');
}

@font-face {
    font-family: "Uniqlo Pro";
    src: url('../font/Uniqlo-Pro-Light-Regular.ttf');
}

.font-din {
    font-family: 'DIN';
}

.font-noto-sans {
    font-family: 'Noto Sans';
}

.font-uniqlo-pro {
    font-family: "Uniqlo Pro";
}

.page-wrapper {
    position: relative;
    box-sizing: border-box;
    width: 750px;
    margin: 0 auto;

    display: flex;
    align-items: center;
    flex-direction: column;
}

.divider {
    width: 700px;
    background-color: #000000;
    margin: 0 auto;
}

.divider.bold {
    height: 1.5px;
}

.divider.light {
    height: 0.5px;
}