.page-container {
    width: 1920px;
    position: absolute; width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: "UniqloProRegular", "Nanum Gothic";
    text-align: center;
    color: #DF1D24;

}

.brand-name {
    font-size: 32pt;
}

.divider {
    display: flex;
}

.divider > div {
    width: 520px;
    background-color: #DF1D24;
}
.divider > div:nth-child(1) {
    height: 2px;
}
.divider > div:nth-child(2) {
    height: 7px;
}
.divider > div:nth-child(3) {
    height: 13px;
}


h1 {
    font-size: 160pt;
    word-spacing: -0.2em;
    font-weight: 900;
}

h2 {
    font-size: 112pt;
    word-spacing: -0.2em;
    font-weight: 900;
}

h3 {
    font-size: 50pt;
    word-spacing: -0.2em;
    font-weight: 900;
}

h4 {
    font-size: 36pt;
    word-spacing: -0.2em;
    font-weight: 900;
}

h5 {
    font-size: 25pt;
    word-spacing: -0.2em;
    font-weight: 900;
}

h6 {
    font-size: 17pt;
    font-weight: 900;
}

p {
    font-size: 15pt;
    line-height: 160%;
}